.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  height: 8vh;
  box-sizing: border-box;
  background-color: #dddddd;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.logo img {
  margin: 1em;
  width: 150px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  box-sizing: border-box;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  & a {
    color: black;
    text-decoration: none;
  }
}
